* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-size: 14px;
  background: #d3d3d3;
}

div {
  margin: 40px;
}

div li {
  width: 300px;
  border: 1px solid #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 5px;
  padding: 5px 0px 0px 5px;
}

#content {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 !important;
}
#content a {
  text-decoration: none;
  font-size: 15px;
}

#techs {
  margin: 0 !important;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#techs span {
  background: #eee;
  padding: 5px 7px;
  border-radius: 5px;
  margin: 0 5px;
  color: #273746;
}

div li svg {
  cursor: pointer;
}

div li span {
  color: #333;
  font-weight: bold;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

/* div li button {
  margin: 0 15px;
  background: #ca4949;
  border-radius: 4px;
} */

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background: white;
  border-radius: 5px;
}

form input {
  border: 0;
  background: #eee;
  height: 40px;
  margin: 10px 0;
  border-radius: 4px;
}
form label {
  font-size: 14px sans-serif;
  font-weight: bold;
}
#container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
